<ngx-datatable
        #myTable
        class='material expandable'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="true"
        [rows]='candidates'
        [loadingIndicator]="isLoaded"
        (page)="onPage($event)">

    <ngx-datatable-column [canAutoResize]="false" prop="name" name="Name" [flexGrow]="3" [minWidth]="200">
        <ng-template let-value="value">
            {{value}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="percent" name="Percent" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="salary" name="Salary" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value | number: '1.2'}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="currency" name="Currency" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="revenue" name="Revenue" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value | number: '1.2'}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="firstRevenue" name="First Revenue" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value | number: '1.2'}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="secondRevenue" name="Second Revenue" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value | number: '1.2'}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="date" name="Date" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{value | date: 'MM/yyyy'}}</strong>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
